﻿/* {
	colour: red;
}*/

body {
	font-size: 16px;
}

/* Classes can be used for multiple elements on a page*/

.center {
	text-align: center;
}
/* Class = "small-txt" or "large-txt" */

.small-txt {
	font-size: 75%;
}

.large-txt {
	font-size: 250%;
}

/* class="col" */

 .col {
	width: 0%;
	float: left;
} 

/* id is reserved for one element*/

/* #productList {
	width: 80%;
	margin: 0 auto;
} */

h1 {
	font-family: 'Lato', sans-serif;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline;
	border: 1px solid #ff00ee;
	padding: 5px 5px 5px 5px;
}


